@charset "utf-8";
body{
    background-color: #eeeeee;
}

.matome1{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 5%;
}

.matome ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.matome ul li{
    width: 100%;
}
h1{
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;   
    margin-top: 30px;
    color: green;
}

img{
   /* margin-bottom: 10px;*/
    max-width: 100%;
}

h2{
    padding: 15px 0px 10px 0px;
    color: green;
    display: flex;
}

.box{
    width: 100%;
    height: 100px;
    background-color: white;
}

p{
    padding: 0px 5px 0px 5px;
}

span{
    width: 6px;
    height: 24px;
    background-color: green;
    margin: 0px 5px 0px 5px;
}

@media screen and (max-width: 400px){
    .matome ul{
        flex-direction: column;
    }
}