@charset "utf-8";
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 20px 0;
}

@media screen and (max-width: 768px){
    ul{
        flex-direction: column;
    }
}