@charset "utf-8";
.midasi{
    color: red;
}

.box{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin: 0 auto;
}

.sikaku{
    border: 2px dotted blueviolet;
    padding: 30px 40px 20px 10px;
}