@charset "utf-8";

html{
    scroll-behavior: smooth;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.86%;
    padding-right: 7.55%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}

.hamburger,
.header__nav-sp{
    display: none;
}

.logo{
    width: 226px;
}

.header__nav ul{
    display: flex;
    gap: 70px;
}

.header__nav a{
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}

body{
    background-color: #e8d9bf;
}

main{
    padding-left: 10px;
    padding-right: 10px;
}
.matome1{
    padding-top: 108px;
    text-align: center;
    margin-bottom: 93px;
}

.matome1sabu{
    font-size: 30px;
    padding-bottom: 65px;
}

.matome1taitoru{
    font-size: 82px;
    line-height: 1.17;
    padding-bottom: 45px;
}

.matome1naiyo{
    font-size: 23px;
    line-height: 1.65;
}

.matome2 .about-us-pc{
    display:flex ;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
}

.matome2tate{
    flex-direction: column;
    width: 50%;
    padding-left: 79px;
    letter-spacing: 0.03em;
}
.matome2syasinn{
    width: 50%;
}

.matome2syasinn img{
    border-bottom-right-radius: 50px;
}

.matome2aboutus{
    width: 270px;
    height: 77px;
}

.matome2taitoru{
    font-size: 44px;
    padding-bottom: 23px;
    padding-top: 48px;
    line-height: 1.39;
}

.matome2naiyou{
    font-size: 16px;
    line-height: 1.62;
}

.matome3{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 109px;
}

.matome3taitoru{
    width: 151px;
    height: 77px;
    margin: 0 auto;
}

.matome3ul{
    display: flex;
    justify-content: space-between;
    gap: 49px;
    padding-top: 50px;
}

.matome3syasinn img{
    border-top-right-radius: 50px;
}

.matome3naiyou{
    font-size: 17px;
    line-height: 1.47;
    padding-top: 25px;
}

.matome3sabu{
    color: #d30202;
    font-size: 38px;
    margin-top: -10px;
    padding-left: 10px;
}

.matome4{
    padding-top: 100px;
}
.matome4taitoru{
    width: 245px;
    height: 77px;
    margin: 0 auto;
}
.matome4syasinn{
    display: flex;
    padding-top: 25px;
}

.matome4syasinn img{
    width: 20%;
}

.matome5{
    padding-top: 70px;
}

.matome5taitoru{
    width: 173px;
    height: 77px;
    margin: 0 auto;
}

.matome5box{
    max-width: 1000px;
    height: 200px;
    background-color: white;
    border: 3px solid #4f260b;
    margin: 0 auto;
    margin-top: 50px;
}

.matome5ul{
    padding-top: 40px;
    max-width: 670px;
    margin: 0 auto;
}

.matome5naiyou{
    font-size: 23px;
    display: flex;
        gap: 47px;
        padding-bottom: 20px;
}

.matome5naiyou a{
    border-bottom: 3px solid #4f260b;
}
.matome6taitoru{
    width: 213px;
    height: 77px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 100px;
}

iframe{
    width: 100%;
    height: 471px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

.matome7taitoru{
    width: 226px;
    height: 50px;
    padding-right: 70px;
}

.matome7{
    padding-top: 82px;
        background-color: white;
    width: 100%;
    height: 390px;
}

.matome7ul{
    font-size: 20px;
}

.matome7box{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.matome7naiyou{
    margin-bottom: 25px;
}

.matome7p{
    margin-top: 85px;
    margin-left: 125px;
}

.top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

.slick-dots {
    bottom: 16px;
}

.slick-dots li button:before {
    color: #fff;
}

.slick-dots li.slick-active button:before {
    color: #fff;
}

.br_sp{
    display: none;
}

.about-us-sp{
    display: none;
}



@media screen and (max-width: 1100px) {
    .header__nav{
        display: none;
    }
    .hamburger{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 99999;
        cursor: pointer;
    }

    .hamburger span{
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: 13px;
        transition: 0.3s;
    }

    .hamburger span::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        top: -13px;
        transition: 0.3s;
    }

    .hamburger span::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #fff;
        bottom: -13px;
        transition: 0.3s;
    }

    .open span{
        background-color: transparent;
    }

    .open span::before{
        transform: rotate(45deg);
        top: 0;
    }

    .open span::after{
        transform: rotate(-45deg);
        bottom: 0;
    }

    .header__nav-sp{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000000c9;
        z-index: 99998;
    }

    .header__nav-sp a{
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium","游ゴシック", "Yu Gothic", sans-serif;
        font-weight: bold;
    }

    .header__nav-sp ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .matome1taitoru{
        font-size: 70px;
    }

    .matome2taitoru{
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {

    main{
        padding-left: 0;
        padding-right: 0;
    }
    .matome1{
        padding-top: 40px;
        margin-bottom: 70px;
    }
    .matome1sabu{
        font-size: 17px;
        padding-bottom: 40px;
    }

    .br_sp{
        display: block;
    }
    .matome1taitoru{
        font-size: 38px;
        padding-bottom: 20px;
    }

    .matome1naiyou{
        font-size: 16px;
        line-height: 1.88;
    }

    .matome2aboutus{
        width: 160px;
        height: 45px;
        margin: 0 auto;
    }
    .matome3ul{
        flex-direction: column;
        padding-top: 20px;
    }

    .matome2 .about-us-pc{
        display: none;
    }
    .about-us-sp{
        display: block;
    }
    .matome2syasinn{
        width: 100%;
    }
    .matome2tate{
        width: 100%;
        padding-left: 0;
    }
    .matome2syasinn img{
        border-bottom-right-radius: 0;
        padding-top: 15px;
    }
    .matome2taitoru{
        padding-top: 35px;
        padding-left: 20px;
        padding-bottom: 35px;
        font-size: 36px;
        line-height: 1.25;
    }

    .matome2naiyou{
        font-size: 16px;
        line-height: 1.75;
        padding-left: 20px;
        padding-right: 20px;
    }

    .matome3{
        padding-top: 60px;
    }
    .matome3taitoru {
        width: 87px;
        height: 45px;
        margin: 0 auto;
    }

    .matome3syasinn{
        margin: 0 auto;
        width: 328px;
        height: 219px;
    }
    .matome3naiyou{
        padding-top: 35px;
        font-size: 17px;
        line-height: 1.59;
        padding-left: 35px;
        padding-right: 35px;
    }
    .matome3sabu{
        padding-left: 47px;
    }

    .matome4{
        padding-top: 95px;
    }
    .matome4taitoru{
        width: 142px;
        height: 45px;
    }
    .matome4syasinn{
        padding-top: 20px;
    }

    .matome5{
        padding-top: 35px;
    }
    .matome5taitoru{
        width: 100px;
        height: 45px;
    }
    .matome5box{
        margin-top: 25px;
        height: auto;
        padding: 18px 7.16%;
    }
    .matome5naiyou{
        flex-direction: column;
        gap: 7px;
        font-size: 16px;
    }
    .matome5naiyou a {
    text-decoration: underline #4f260b;
    }
    .matome5_sp{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .matome5 ul{
        padding-top: 20px;
    }
    .matome6taitoru{
        padding-top: 30px;
        width: 125px;
        height: 45px;
    }

    .matome7box{
        flex-direction: column;
    }
    .top{
        width: 100px;
    }
    .matome7{
        padding-top: 45px;
        padding-left: 20px;
    }
    .matome7naiyou{
        margin-bottom: 20px;
        font-size: 18px;
    }
    .matome7p{
        margin-top: 45px;
        margin-left: 85px;
    }
    .matome7taitoru img{
        width: 226px;
        height: 50px;
    }
    .matome7 ul{
        padding-top: 35px;
    }

}
