@charset "utf-8";
.parent{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.box{
    width:30%;
    height: 300px;
    background-color:blue;
    margin-bottom: 30px;
}

.parentbox{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.box2{
    width: 30%;
    height: 300px;
    background-color: red;
    margin-bottom: 30px;
}

.header{
    width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

.nav ul{
    display: flex;
    gap: 30px;
}

.nav li {
    padding-left: 30px;
  border-left: 1px solid;
}
 .nav ul li:first-child{
    border-left: none;
    padding-left: none;
 }

 @media screen and (max-width:768px) {
    .header{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .nav ul{
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }

    .nav li::after{
        display: none;
    }

    .nav li{
        border-bottom: 2px solid;
        width: 100%;
    }

    .nav li{
        padding: 12px 0;
    }
 }